* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IB";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__nav {
  background: #3e8989;
  padding: 37px 0;
  display: flex;
  flex-wrap: wrap;
}

.header__nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__nav-list {
  display: flex;
  gap: 40px;
}

.header__nav-link {
  color: #fff;
  font-size: 16px;
  position: relative;
}
.header__nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  position: absolute;
}
.header__nav-link:hover::after {
  width: 100%;
  transition: 0.5s;
}

.header__form {
  display: flex;
  gap: 0;
  border: none;
}

.header__form-text {
  border-radius: 20px 0px 0px 20px;
  padding: 8px 20px;
  color: #898989;
  font-size: 16px;
  font-family: "IB";
  outline: none;
  border: none;
}

.header__form-btn {
  border-radius: 0px 20px 20px 0px;
  background: #295e5e;
  padding: 9px 14px;
  outline: none;
  border: none;
}

.header__content {
  background: url(../images/headerbg.jpg) no-repeat center / cover;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__content-title {
  color: #fff;
  font-size: 80px;
  font-weight: 600;
}

.header__content-text {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 50px;
}

.header__content-link {
  color: #fff;
  border-radius: 30px;
  background: #b4436c;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 78px;
  transition: 0.5s;
}

.header__content-link:hover {
  background: #fff;
  color: #b4436c;
}

.about-title {
  color: #3e8989;
  font-size: 40px;
  font-weight: 600;
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.main__right {
  width: 545px;
  width: 100%;
}

.main__top-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.main_top-img {
  width: 100%;
}

.main__top-text1 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.main__top-text2 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

.main__middle-title {
  display: flex;
  justify-content: center;
  margin-top: 97px;
  margin-bottom: 53px;
  color: #3e8989;
  font-size: 40px;
  font-weight: 600;
}

.main__middle-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main__middle-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  max-width: 263px;
  width: 100%;
}

.main__middle-photo {
  background: #efefef;
  width: 263px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__middle-list {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  transition: 0.5s;
}
.main__middle-list:hover {
  color: #b4436c;
}

.main__middle {
  display: flex;
  flex-direction: column;
}

.main__bottom-title {
  color: #3e8989;
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 50px;
}

.main__bottom-box {
  display: flex;
  justify-content: space-between;
}
.main__bottom-text {
  margin-bottom: 124px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  max-width: 555px;
  width: 100%;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.call {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.email {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  background: #3e8989;
  height: 150px;
  width: 100%;
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 40px;
}

.footer__li {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 1140px) {
  .main__top-box {
    justify-content: center;
    text-align: center;
  }

  .main__middle {
    align-items: center;
    flex-direction: column;
  }

  .header__nav-box {
    flex-direction: column;
    gap: 20px;
  }

  .header__nav {
    padding-top: 10px;
  }
}

@media (max-width: 1000px) {
  .main__top {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .main__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    gap: 20px;
  }

  .main__bottom-box {
    text-align: center;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .about {
    display: flex;
    flex-wrap: wrap;
  }

  .main__middle-item {
    max-width: none;
    max-width: 568px;
    width: 100%;
  }

  .header__content {
    height: 400px;
  }
  .header__content-title {
    font-size: 72px;
  }

  .main__top-text2 {
    max-height: 545px;
    height: 100%;
  }

  .header__content-text {
     text-align: center;
     font-size: 30px;
  }
}

@media (max-width: 400px) {
  .header__content {
    height: 300px;
  }

  .header__content-link {
    margin-top: -30px;
  }

  .header__form-text {
    width: 100%;
  }

  .header__content-title {
    font-size: 50px;
  }
}
